<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css">
        <title>gib money</title>
    </head>
    <body>
        <div class="center-object">
            <div class="info-box">
                <div class="info-text">
                    <h3>stuff ain't cheap :P</h3>
                    <p>Coding doesn't make me money yet, so i'd appriciate anything you could give me</p>
                    <a class="fab fa-paypal" href="https://paypal.me/skellypupper"></a>
                    <a class="fad fa-heart" href="https://github.com/sponsors/Skullbite"></a>
                    <a class="fad fa-mug-hot" href="https://ko-fi.com/skullbite"></a>
                    <a class="fad fa-home" style="float:right" href="/"></a>
            </div>
        </div>
    </body>
</html>