<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/stuff.js') }}"></script>
    <title>Home</title>
  </head>
  <body>
    
    <div class="center-object">
      <div class="info-box">
        <!-- <div class="icon" style="background-image:url(https://cdn.discordapp.com/avatars/286166184402092042/61906100124a7dbe33a081d919aae14f.png?size=128);"></div> -->
        <img draggable="false" src="{{ avy }}" />
        <div class="info-text">
          <h3>hi, i'm skullbite.</h3>
          <p>i like coding things sometimes<br>I write python and javascript a lot.</p>
          <a class="fab fa-discord" href="/desksword"></a>
          <a class="fab fa-twitter" href="https://twitter.com/skellypupper"></a>
          <a class="fab fa-github" href="https://github.com/skullbite"></a>
          <a class="fab fa-patreon" href="https://patreon.com/skullbite"></a>
          <a class="fas fa-code" style="float:right" href="/projects"></a>
        </div>
      </div>
      <button type="button" id="cutiebutton" onclick="cutie()" style="float:right;">Don't click this button</button>
    </div>
    
  </body>
</html>