<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <style>
            h2 {
                float: left;
                white-space: break-spaces;
                position: absolute;
                margin-top: 9px;
            }
            p {
                overflow-wrap: break-word;
                float: left;
            }
        </style>
    </head>
    <body>
        <div class="center-object">
            <div class="info-box" style="block-size:fit-content;width:fit-content">
                <p><b>Who are you?</b> I'm Sahkai Stowe (screen name: skullbite). A dumb, furry, community college student dreaming to become a fulltime (and stack) dev.</p>
                <br>
                <p><b>What have you made?</b> A lot of weird thing you can find in my <a href="/projects">projects</a>.</p>
                <br>
                <p><b>What languages are you good at?</b> I wouldn't say what I'm good any languages but, I'm somewhat fluent in Typescript and Python.</p>
                <p><b>Is there anyway I can contact you?</b> I don't really like emails and stuff. But I do have a <a href="/desksword">discord server</a> where i'll gladly speak with you.</p>
                <br>
                <p><b>Do you accept comissioned projects?</b> I don't exactly have a system for comissioned projects, if you want something made by me, you can contact me on discord and we'll figure it out.</p>
                <p><b>Where's the home button?</b> <a href="/">Right here.</a></p>
            </div>
        </div>
    </body>
</html>