<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/i.css') }}">
      <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css">
      <title>Projects</title>
    </head>
    <body>
        <div class="center-object">
          <div class="info-box" style="border-color:var(--dead)">
            <img draggable="false" style="filter:grayscale(1)" src="/assets/spooderfy" />
            <div style="color:var(--dead)" class="info-text">
              <h3 style="color:var(--dead)"><span style="color:var(--dead)" class="fab fa-python"></span>Spooderfy<span id="badge">NO LONGER MAINTAINED</span></h3>
              <p>Spotify information discord bot soon to be repurposed.<br>Also managed by <span><a href="https://github.com/ChillFish8" style="color:rgb(56, 153, 233);text-decoration:none;">ChillFish8</a></span>.</p>
            </div>
          </div>
          <div class="info-box" style="border-color:var(--dead)">
            <img draggable="false" style="filter:grayscale(1)" src="/assets/hibooscus" />
            <div class="info-text">
              <h3 style="color:var(--dead)"><span style="color:var(--dead)" class="fab fa-js-square"></span>Hibiscus<span id="badge">NO LONGER MAINTAINED</span></h3>
              <p>Near advanced command handler for Eris.</p>
              <p style="font-size:12px;color:#08b333;">This project is open source.</p>
              <a class="fab fa-npm" id="hibiscus-button" style="font-size:20px;" href="https://www.npmjs.com/package/@skullbite/hibiscus"></a>
              <a class="fab fa-github" id="hibiscus-button"style="font-size:20px" href="https://github.com/heeboscus/eris"></a>
            </div>
          </div>
          <div class="info-box" style="border-color:var(--hibiscus)">
            <img draggable="false" src="/assets/petals" />
            <div class="info-text">
              <h3 style="color:var(--hibiscus)"><span style="color:var(--hibiscus)" class="fab fa-js-square"></span>Petals</h3>
              <p>Dumb Discord API Wrapper</p>
              <a class="fab fa-npm" id="hibiscus-button" style="font-size:20px;" href="https://www.npmjs.com/package/@skullbite/petals"></a>
              <a class="fab fa-github" id="hibiscus-button"style="font-size:20px" href="https://github.com/skullbite/petals"></a>
            </div>
          </div>
          <div class="info-box" style="border-color:var(--yoshi)">
            <img draggable="false" src="/assets/yoshi" />
            <div class="info-text">
              <h3 style="color:var(--yoshi)"><span style="color:var(--yoshi)" class="fab fa-js-square"></span> Yoshi</h3>
              <p>Pokemon and amiibo information discord bot.</p>
              <p style="font-size:12px;color:#b3b308;">This project is not open source.</p>
              <a class="fas fa-plus" id="yoshi-button" style="font-size:20px" href="https://discord.com/oauth2/authorize?client_id=488532005206884353&scope=bot&permissions=3163136"></a>
            </div>
          </div>
          <div class="info-box" style="border-color:var(--owopup)">
            <img draggable="false" src="/assets/owopup" />
            <div class="info-text">
              <h3 style="color:var(--owopup)"><span style="color:var(--owopup)" class="fab fa-python"></span> owopup</h3>
              <p>Multipurpose furry discord bot.</p>
              <p style="font-size:12px;color:#b3b308;">This project is open source but no longer updated.</p>
              <a class="fas fa-plus" id="owopup-button" style="font-size:20px" href="https://discord.com/oauth2/authorize?client_id=365255872181567489&scope=bot&permissions=268463110"></a>
              <a class="fab fa-github" id="owopup-button" style="font-size:20px" href="https://github.com/Skullbite/owopup-v3"></a>
            </div>
          </div>
        </div>
    </body>
</html>
